table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

thead,
tr:nth-child(even) {
  background-color: #dddddd;
}

tbody tr:nth-child(odd) {
  background-color: darkgray;
}
