/* GLOBAL */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: #151515;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
}

.wrapper {
  width: 100%;
  max-width: 1110px;
  margin: auto;
}
