body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin: 0 0 15px 0;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin: -25px auto auto auto;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1,
h2 {
  font-family: Impact, sans-serif;
}

.item p {
  display: inline-block;
  margin: 5px 0;
  font-size: 18px;
}

.flavor,
.dessert {
  text-align: left;
  width: 74%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
